<html>
	<body ng-app="myApp"  ng-controller="BibliotecaController">
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div>
		<div style="text-align:center;"> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<h1 style="font-weight: normal;color: #5F9EA0;font:bold">Biblioteca</h1>
		</div>
		<div style="text-align:center;">
			<div ng-repeat="image in imagesLibrary">
				<img ng-if="$index%2==0" src="[{image.imgPath}]" alt="foto"/><br>
			</div>
		</div>
	</body>
</html>



