<html>
    <body ng-app="myApp" ng-controller="FavoritesController">
        <!-- header -->
        <div ng-if="isMobileView" class="container-fluid">
            <div class="header">
                <div class="col-sm-4" style="margin-top: 12px;margin-bottom: 30px;">
                    <img ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()" style="margin-top: -16px;margin-left: -234px;">
                </div>
                <div ng-if="!showSearch" class="col-sm-6" style="margin-top: -83px;">
                    <h2 class="subtitles" style="font-size: 16px;">Favoritos</h2>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1" style="margin-top: -41px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-2" style="margin-top: -55px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div class="col-sm-1">
                    <input class="inputMinSearch" ng-if="showSearch && !userDetails" type="text" style="    width: 201px;margin-top: 2px;margin-left: 74px;"></input>
                </div>
            </div>
        </div> 
		<!--image biama -->
        <div ng-if="!isMobileView" class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div ng-if="!isMobileView" class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div ng-if="!isMobileView" class="titlesOnCenter">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
        </div>   
		<div ng-if="!isMobileView" class="padding-left-4x">
			<h1 class="subtitles">Favoritos</h1> 
			<i ng-click="openFavoritesButton()" class="fas fa-caret-down"></i>
		</div>
		<div ng-if="showFavoritesButton" ng-repeat="fav in favoritesButton">
			<h5 class="cursorPointer" ng-click="selectFavorite(fav)">[{fav}]</h5>
		</div>
        <div ng-if="loading">
			<div class="loading-icon-footer-info"></div>
		</div>
        <div ng-if="!loading && showFavorites">
			<div ng-if="showMaterials" ng-repeat="fav in favorites">
				<img ng-if="!isMobileView" class="margin-bottom-2x cursorPointer" ng-src="../images/categories/[{fav.category}]/[{fav.image}]" ng-click="openFavorite(fav)" width="15%" height="130px" alt="foto"/>
				<img ng-if="isMobileView" class="margin-bottom-2x cursorPointer" ng-src="../images/categories/[{fav.category}]/[{fav.image}]" ng-click="openFavorite(fav)" width="35%" height="130px" alt="foto"/>
			</div>
			<div ng-if="showMyQuestions" class="titlesOnCenter" ng-repeat="question in favoriteQuestions track by $index">
                <a class="questionX" ng-click="getQuestion(question.question_id, $index)">Pergunta [{$index+1}]</a><br>
                <div class="separateQuestions"></div>
            </div>
           	<div ng-if="showQuestionDetails">
				<div class="titlesOnCenter"> 
					<h1 class="subtitles">Pergunta [{indexQuestion}]</h1>
				</div>
				<div class="titlesOnCenter" style="margin-left: 274px;">
					<div ng-if="!showDivAnswer" ng-class="(!isMobileView) ? 'margin-left-10x' : 'margin-left-3x'">
						<!-- Question -->
						<img class="imageButton" src="../images/user.png">
						<div ng-if="!isMobileView" class="borderQuestion">
							<label class="margin-right-6x">Pergunta [{indexQuestion}]</label>
							<h5 class="descriptionQuestion">[{descriptionQuestion}]</h5>
						</div>
						<div ng-if="isMobileView" class="borderQuestionMobile">
							<label class="margin-right-6x">Pergunta [{indexQuestion}]</label>
							<h5 class="descriptionQuestion">[{descriptionQuestion}]</h5>
						</div>
						<!-- Answers -->
						<div ng-repeat="answerQuestion in descriptionAnswer track by $index" ng-if="descriptionAnswer.length>0">
							<img ng-if="$index%2!==0" class="imageButton" src="../images/user.png">
							<div ng-if="$index%2!==0" class="borderQuestion">
								<label class="margin-right-6x">Resposta [{answerQuestion.numberOfQuestion}]</label>
								<h5 class="descriptionQuestion">[{answerQuestion.text}]</h5>
							</div>
							<div ng-if="$index%2===0 && !isMobileView"  class="borderAnswerNoMargin">
								<label class="margin-left-7x">Resposta [{answerQuestion.numberOfQuestion}]</label>
								<img class="imageButtonLeft" src="../images/user.png">
								<h5 class="descriptionAnswer">[{answerQuestion.text}]</h5>
							</div>
							<div ng-if="$index%2===0 && isMobileView"  class="borderAnswerMobile">
								<label class="margin-left-7x">Resposta [{answerQuestion.numberOfQuestion}]</label>
								<img class="imageButtonLeft" src="../images/user.png">
								<h5 class="descriptionAnswer">[{answerQuestion.text}]</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="favorites.length===0">
				<h4>Não tem favoritos associados</h4>
			</div>
		</div>
        <div ng-if="!showFavorites && !locationMaterial && !zoomInMaterial">
			<div class="titlesOnCenter sectionScroll">
				<img class="margin-bottom-2x margin-left-2x" ng-src="../images/categories/[{detailsFavorite.category}]/[{detailsFavorite.image}]" width="27%" height="130px" alt="foto"/><br>
				<div class="titlesOnCenter">
					<!-- Favorite -->
					<i ng-click="clickFavorite(detailsFavorite)" ng-if="detailsFavorite.isFavorite" class="fas fa-star cursorPointer iconMedium"></i>
					<i ng-click="clickFavorite(detailsFavorite)" ng-if="!detailsFavorite.isFavorite" class="far fa-star cursorPointer iconMedium"></i>
					<!-- Location -->
					<i ng-click="clickLocation(detailsFavorite)" class="fas fa-map-marker-alt cursorPointer iconMedium"></i>
					<!-- Zoom in -->
					<i ng-click="clickZoomIn(detailsFavorite)" class="fas fa-search-plus cursorPointer iconMedium"></i>
				</div>
				<p>[{detailsFavorite.description}]
				</p>
				<div ng-if="clickAddFavoriteMaterial">
					<h4>Para poder adicionar ou remover dos seus favoritos, tem de iniciar sessão</h4>
				</div>
				<div ng-if="favoriteAlreadyExists">
					<h4>Favorito adicionado</h4>
				</div>
			</div>
		</div>
        <div ng-if="locationMaterial">
			<div class="titlesOnCenter"> 
				<i ng-click="reloadPage()" class="fa fa-refresh cursorPointer float-right" aria-hidden="true"></i>
				<h1 class="subtitles">Onde estamos</h1>
			</div>
			<div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>	
			<div ng-if="!loading" class="titlesOnCenter">
				<iframe ng-if="!zoomInIFrame" ng-src="[{locationsURL}]"  width="650" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				<iframe ng-if="zoomInIFrame" ng-src="[{locationsURL}]"  width="650" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div>
					<i ng-click="expandIframe();" class="fas fa-map-marker-alt"></i>
					<label class="margin-right-4x">[{descriptionLocation}]</label>

					<label>Pesquise um local ou endereço</label>
					<i ng-click="getSchools()" class="fas fa-caret-down"></i>	
					<div ng-if="showSchools">
						<div class="loadSchool" ng-if="loadingSchool">
							<div class="loading-icon-footer-info"></div>
						</div>
						<div ng-if="!loadingSchool" ng-repeat="biama in schools">
							<label class="languagesDiv margin-right-4x" ng-click="selectSchool(biama.locationDescription)">[{biama.locationDescription}]</label>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div ng-if="zoomInMaterial">
			<div>
				<i ng-click="closeMaterial()" class="fas fa-times float-right cursorPointer iconMedium"></i>
				<img class="margin-bottom-2x margin-left-2x borderZoomMaterial" ng-src="../images/categories/[{detailsFavorite.category}]/[{detailsFavorite.image}]" width="47%" height="460px" alt="foto"/><br>
			</div>
		</div>
		<footer ng-if="!isMobileView" class="w3-bar w3-center footer">
			<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
			<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

			<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
			<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

			<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
			<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

			<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
			<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

			<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
			<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
		</footer>
    </body>
</html>



