<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body style="font-family: sans-serif;">
	<div> 
		<div style="text-align:center;"> 
			<h1 style="font-weight: normal;color: #5F9EA0;font:bold">Fórum</h1>
		</div>
		<div style="text-align: center;">
			<button style="margin-bottom:10px" type="button">Perguntas dos Utilizadores</button><br>
			<button style="margin-bottom:10px" type="button">Curiosidades</button><br>
			<button style="margin-bottom:10px" type="button">Partilhas do mundo</button>
		</div>
	</div>
</body>
</html>



