<html>
	<body ng-app="myApp"  ng-controller="ForumController">
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div> 
		<div style="text-align:center;"> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<h1 style="font-weight: normal;color: #5F9EA0;font:bold">Fórum</h1>
		</div>
		<div style="text-align: center;">
			<img src="../images/perguntasUtilizador.JPG"/>
			<img src="../images/curiosidades.JPG"/>
			<img class="margin-right-3x" src="../images/partilhasMundo.JPG"/>
		</div>
	</body>
</html>



