
<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>

		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- font awesome styles -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!-- jQuery files -->
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<!-- angular files -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		
		<!-- bootstrap styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
		<!-- languages file -->
		<script type="application/json" src="jsonLabels/en.json"></script>
 	
		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="controllers/main-controller.js"></script>
		<script type="text/javascript" src="controllers/biama-controller.js"></script>
		<script type="text/javascript" src="controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="controllers/forum-controller.js"></script>
		<script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="controllers/library-controller.js"></script>
		<script type="text/javascript" src="controllers/myBiama-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="controllers/questions-controller.js"></script>
		<script type="text/javascript" src="controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="controllers/compare-controller.js"></script>
		<script type="text/javascript" src="controllers/login-controller.js"></script>
		<script type="text/javascript" src="controllers/resultsMaterials-controller.js"></script>
		
		<base href="/"/>
	</head>

	<body ng-app="myApp">
		<div class="divController" ng-controller="MainController"> 
			<header class="masthead text-white text-center">
				<nav>
					<div style="padding-right:360px">
						<i class="fas fa-circle redCircle margin-right margin-left"></i>
						<i class="fas fa-circle orangeCircle margin-right"></i>
						<i class="fas fa-circle greenCircle margin-right-3x"></i>

						<i class="fa fa-chevron-left arrows margin-right-2x"></i>						
						<i class="fa fa-chevron-right arrows margin-right-5x"></i>
						<input class="inputLink" type="input" placeholder="https://www.biama.pt"></input>
					</div>
				</nav>	
			</header>
			
			<article>
				<div class="divBody">
					<!-- user & search & languages-->
					<nav class="positionOfNavDetails">
						<!-- languages -->
						<div class="float-left padding-left-3x">
							<img class="" ng-if="!userDetails" src="../images/user.png" ng-click="clickUserDetails()">
							<img ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
							<img ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
							<input class="inputMinSearch" ng-if="showSearch && !userDetails" type="text"></input>
						</div> 

						<div class="padding-left-6x" style="margin-top: -25px;">
							<label class="labelLanguage">Idioma</label>
							<div class="separatorLanguage"></div>
							<label class="selectLanguage"></label>
							<label class="languageSize">[{languageSelected}]</label>
							<i ng-click="getLanguages()" class="fas fa-caret-down"></i>	
							<div ng-if="showLanguages">
								<div ng-repeat="language in languages">
									<label ng-click="selectLanguage(language)" class="languagesDiv">[{language}]</label>
									<br>
								</div>
							</div>
						</div>	
						<!-- details user -->
						<div class="row">
							<nav class="padding-left-3x">
								<div class="navDetailsUser" ng-if="userDetails"><br>
									<div ng-if="!confirmSession">
										<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
										<a>Favoritos</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a>As minhas perguntas</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a>Partilhar com o Mundo</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a>Notificações</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a>Perfil</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a>Comparar</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a ng-click="showInitSessionDiv()">Iniciar sessão</a><br>
										<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
										
										<div class="divInitSession" ng-if="showInitSession">
											<div class="alignCenter">
												<h5 class="initSessionColor">Iniciar Sessão</h5>
												
												<div class="lineWhiteInitSession"></div><br>
												<div ng-if="users === 'loadUser'">
													<div class="loading-icon"></div>
												</div>
												<div ng-if="users !== 'loadUser'">
													<input class="inputUserName" ng-model="usernameModel" type="text" placeholder="Username"/>
													<input class="inputPassword" ng-model="passwordModel" type="password" placeholder="Password"/><br>
													<a class="confirmSessionLabel" ng-click="confirmSessionAction(usernameModel,passwordModel)">Confirmar</a><br><br>
													<!-- login with firebase providers -->
													<div>
														<img class="cursorPointer" src="../images/logo_google.png" ng-click="loginWithGoogle()" width="10%" height="10%"/>
														<img class="cursorPointer" src="../images/logo_face.png" ng-click="loginWithFacebook()" width="10%" height="10%"/>
													</div>
													<br>
													<button class="registSession" type="button" ng-click="regist()">Registar</button>
												</div>												
											</div>
										</div>
									</div>
									<div ng-if="confirmSession">
										<img src="../images/userDetails.PNG" ng-click="clickUserDetails()"><br><br>
										<a href="/BiAMa/favorites" ng-click="disableSearch('favorites')">Favoritos</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a href="/BiAMa/myQuestions" ng-click="disableSearch('questions')">As minhas perguntas</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a href="/BiAMa/worldShare" ng-click="disableSearch('world_share')">Partilhar com o Mundo</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a ng-if="!notificationNumber" class="notificationPosition" href="/BiAMa/notifications" ng-click="disableSearch('notification')">Notificações</a>
										<label ng-if="notificationNumber" class="labelNumberNotification">[{numberOfNotifications}]</label>
										<div ng-if="notificationNumber" class="circleNotification"></div>
										<br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a href="/BiAMa/perfilPage" ng-click="disableSearch('perfil')">Perfil</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a href="/BiAMa/compare" ng-click="disableSearch('compare')">Comparar</a><br>
										<div class="lineWhite margin-bottom margin-top"></div>
										<a ng-click="logout()">Terminar Sessão</a><br>
										<img src="../images/expandInitSession.PNG" ng-click="clickUserDetails()"><br><br>
									</div>
								</div>
							</nav>
						</div>
					</nav>
					
					<!--image biama -->
					<div ng-if="search && !showMaterials" class="row text-center">
						<img class="margin-top-6x" src="../images/topoBiamaHome.png"/>
					</div>

					<!-- image biama with search -->
					<div ng-if="showMaterials" class="row text-center">
						<img class="margin-top-3x" src="../images/topoBiama.png"/>
					</div>

					<!-- titles of page & search -->
					<div class="row text-center">
						<ng-view></ng-view>
						<div class="col-sm-4 col-sm-offset-4">
							<div class="ui-widget input-group stylish-input-group">
								<input id="tags_search" style="width: 385px;">
								<span class="input-group-addon" style="padding: 4px;padding-left: 22px;">
									<span class="glyphicon glyphicon-search cursorPointer" ng-click="selectedMaterial()" style="margin-right: 17px;"></span>
								</span>
							</div>
						</div>
						<div ng-if="showMaterials">
							<div class="padding sectionScrollSearch">
								<div class="col-md-4" ng-repeat="material in materials track by $index">
									<div class="thumbnail" ng-if="!showCategoryMaterial">
										<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer"  ng-src="../images/categories/[{material.category}]/[{material.name}]" width="35%" height="150px" alt="foto"/>
									</div>
									<div class="thumbnail" ng-if="showCategoryMaterial">
										<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer"  ng-src="../images/categories/library/[{material}]" width="35%" height="150px" alt="foto"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<footer class="w3-bar w3-center" id="footerMain">
				<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
				<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

				<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
				<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

				<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
				<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

				<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
				<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

				<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
				<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
			</footer>
		</div>
	</body>
</html>
