<html>
	<body ng-app="myApp"  ng-controller="LibraryController">
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div>
		<div class="titlesOnCenter"> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<h1 class="subtitles">Biblioteca</h1>
		</div>
		<div ng-if="loading">
			<div class="loading-icon-footer-info"></div>
		</div>
		<div ng-if="!loading" class="titlesOnCenter">
			<div ng-repeat="image in materialDetails">
				<img ng-src="../images/Categories/[{image.name}]" width="10%" height="10%" alt="foto"/><br>
			</div>
		</div>
	</body>
</html>



