<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<script type="text/javascript" src="../controllers/login-controller.js"></script>
		<script type="text/javascript" src="../controllers/resultsMaterials-controller.js"></script>
		 
		<base href="/"/>
	</head>
	<body ng-app="myApp" ng-controller="MyBiamaController">
		
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div>
		<div> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<i class="cursorPointer float-left fa fa-chevron-left arrows margin-right-2x backArrow" ng-click="goToHomePage()"></i>
			<div class="titlesOnCenter" ng-if="!showMyBiamaConf">
				<h1 class="subtitles">A sua BiAMa</h1>
				<div ng-if="loading">
					<div class="loading-icon-footer-info"></div>
				</div>
				<img ng-if="!loading" src="../images/suaBiAMa.JPG"/>
				<div ng-if="!loading" class="sectionDetails">
					<p>[{descriptionMyBiama}]</p>
				</div>
				<div ng-if="!loading" class="sectionDetails">
					<div>
						<i class="far fa-file-pdf"></i>
						<label class="margin-right-3x">Formulário para Aderir</label>

						<i class="far fa-file-pdf" ng-click="createMyBiama()"></i>
						<label>Construir a sua BiAMa</label>
					</div>
				</div>
			</div>
			
			<div class="myBiamaConfig" ng-hide="!showMyBiamaConf">
				<h2 class="subtitles">Your BiAMa</h2><br>
				<!-- Description -->
				<h5 class="subtitles biamaTitlesStyle"><b>Description</b></h5>
				<textarea class="biamaTextAreaStyle" ng-model="descriptionNewBiama" placeholder="Insert description of your BiAMa"></textarea><br>
				<!-- location -->
				<h5 class="subtitles biamaTitlesStyle"><b>Location</b></h5>
				<input class="biamaConfigFields" ng-model="locationNewBiama" type="text" placeholder="Select location of your BiAMa"></input><br>
				<!-- library content -->
				<h2 class="subtitles">Your Library materials</h2><br>

				<!-- category of material - options: animal, ceramic, composite, metal, mineral, polymers, vegetable-->
				<h5 class="subtitles biamaTitlesStyle"><b>Category</b></h5>
				<div class="ui-widget">
					<input id="category" class="biamaConfigFields" ng-model="categoryMaterial" type="text" placeholder="Select category of material"><br>
				</div>
				<a ng-click="allCategories()" class="float-right">All categories</a><br>
				<div class="alignRight" ng-show="showAllCategories" ng-repeat="category in optionCategories">
					<h7>[{category}]</h7>
				</div>

				<!-- color of material - options: black, white, gray, blue, beige, green, pink, orange, brown, yellow, diamond, red -->
				<h5 class="subtitles biamaTitlesStyle"><b>Color</b></h5>
				<div class="ui-widget">
					<input id="colors" class="biamaConfigFields" ng-model="colorMaterial" type="text" placeholder=""><br>
				</div>
				<a ng-click="allColors()" class="float-right">All colors</a><br>
				<div class="alignRight" ng-show="showAllColors" ng-repeat="color in optionColors">
					<h7>[{color}]</h7>
				</div>

				<!-- code of material -->
				<h5 class="subtitles biamaTitlesStyle "><b>Code</b></h5>
				<input class="biamaConfigFields" ng-model="codeMaterial" type="text" value="lastCode + 1"><br>
				<!-- image of material -->
				<h5 class="subtitles biamaTitlesStyle"><b>Image</b></h5>
				<input class="biamaConfigFields" ng-model="imageMaterial" type="file" placeholder="Select image of material"><br>
				<!-- description of material -->
				<h5 class="subtitles biamaTitlesStyle"><b>Description</b></h5>
				<textarea class="biamaTextAreaStyle" ng-model="descriptionMaterial" placeholder="Insert description of material"></textarea><br>
				<button type="button" ng-click="saveInfo(descriptionNewBiama,locationNewBiama,categoryMaterial,colorMaterial,codeMaterial,imageMaterial,descriptionMaterial)">Save Information</button>
			</div>
		</div>
	</body>
</html>



