<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- font awesome styles -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<!-- -->
		<!--<script>$.ajaxPrefilter(function( options, originalOptions, jqXHR ) { options.async = true; });</script>-->

		<!-- angular files -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		
		<!-- bootstrap styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
        <script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>
        <script type="text/javascript" src="../controllers/qrCode-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<script type="text/javascript" src="../controllers/login-controller.js"></script>
		<script type="text/javascript" src="../controllers/resultsMaterials-controller.js"></script>
		 
		<base href="/"/>
	</head>
	<body ng-app="myApp" ng-controller="MyBiamaController">
		
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div>
		<div> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<i class="cursorPointer float-left fa fa-chevron-left arrows margin-right-2x backArrow" ng-click="goToHomePage()"></i>
			<div class="titlesOnCenter" ng-if="showBiamaInitPage">
				<h1 class="subtitles">A sua BiAMa</h1>
				<div ng-if="loading">
					<div class="loading-icon-footer-info"></div>
				</div>
				<img ng-if="!loading" src="../images/suaBiAMa.JPG"/>
				<div ng-if="!loading" class="sectionDetails">
					<div class="sectionDetails">
						<p>[{descriptionMyBiama}]</p>
					</div>
				</div>
				<div ng-if="biamaUp">
					<i class="far fa-file-pdf"></i>
					<label class="margin-right-3x">Formulário para Aderir</label>

					<i class="far fa-file-pdf" ng-click="createMyBiama()"></i>
					<label>Construir a sua BiAMa</label>
				</div>
			</div>
			
			<form class="myBiamaConfig" ng-hide="!showMyBiamaConf">
				<h2 class="subtitles">Sua BiAMa</h2><br>
				<!-- Description -->
				<h5 class="subtitles biamaTitlesStyle"><b>Descrição</b></h5>
				<textarea class="biamaTextAreaStyle" ng-model="descriptionNewBiama" placeholder="Insira descrição da sua BiAMa" required></textarea><br>
				<!-- location -->
				<h5 class="subtitles biamaTitlesStyle"><b>Localização</b></h5>
				<input id="location" class="biamaConfigFields" ng-model="locationNewBiama" type="text" placeholder="Selecione a localização da sua BiAMa" required></input><br><br>
				<!-- library content -->

				<h2 class="subtitles">Material</h2><br>

				<!-- category of material - options: animal, ceramic, composite, metal, mineral, polymers, vegetable-->
				<h5 class="subtitles biamaTitlesStyle"><b>Categoria</b></h5>
				<div class="ui-widget">
					<input id="category" class="biamaConfigFields" ng-model="categoryMaterial" type="text" placeholder="Selecione a categoria do material" required><br>
				</div>
				<a ng-click="allCategories()" class="float-right">Todas as categorias</a><br>
				<div class="alignRight" ng-show="showAllCategories" ng-repeat="category in categories">
					<h7>[{category}]</h7>
				</div>

				<!-- color of material - options: black, white, gray, blue, beige, green, pink, orange, brown, yellow, diamond, red -->
				<h5 class="subtitles biamaTitlesStyle"><b>Cor</b></h5>
				<div class="ui-widget">
					<input id="colors" class="biamaConfigFields" ng-model="colorMaterial" type="text" placeholder="Selecione a cor do material" required><br>
				</div>
				<a ng-click="allColors()" class="float-right">Todas as cores</a><br>
				<div class="alignRight" ng-show="showAllColors" ng-repeat="color in optionColors">
					<h7>[{color}]</h7>
				</div>

				<!-- code of material -->
				<h5 class="subtitles biamaTitlesStyle "><b>Código do material</b></h5>
				<input class="biamaConfigFields" ng-model="codeMaterial" type="text" value="lastCode + 1" required><br>
				<!-- image of material -->
				<h5 class="subtitles biamaTitlesStyle"><b>Imagem do material</b></h5>
				<i ng-if="showInsertedImage && !errorInsertImage" class="fas fa-minus float-right" ng-click="removeMaterial()"></i>
				<input ng-if="!showInsertedImage" id="image" class="biamaConfigFields" ng-model="imageMaterial" type="file" placeholder="Insira uma imagem do material" required><button ng-if="!showInsertedImage" ng-click="insertImage(imageMaterial)">OK</button><br>
				
				<h6 ng-if="errorInsertImage">Preencha os dados anteriores, por favor.</h6>
				<img ng-if="showInsertedImage && !errorInsertImage" class="margin-bottom-2x cursorPointer margin-left-2x" ng-src="../images/categories/[{material.category}]/[{material.image}]" width="25%" height="12%" alt="foto"/>

				<!-- description of material -->
				<h5 class="subtitles biamaTitlesStyle"><b>Descrição</b></h5>
				<textarea class="biamaTextAreaStyle" ng-model="descriptionMaterial" placeholder="Insira descrição do material" required></textarea><br>
				<button type="submit" ng-click="saveInfo(descriptionNewBiama,locationNewBiama,categoryMaterial,colorMaterial,codeMaterial,imageMaterial,descriptionMaterial)">Guardar informação</button>
			</form>
			<div ng-if="registUser">
				<div class="titlesOnCenter"> 
					<h1 class="subtitles">Registar</h1>
				</div>
				<!-- user photo -->
				<div ng-if="!openImageUploadLabel" class="perfilDetails center-block">
					<div class="form-group">
						<img src="../images/userDetails.PNG" class="w3-circle imagePerfil cursorPointer" ng-click="openImageUpload()">
						<input class="center-block minTitleBiAMa inputsCenter inputDetails" ng-model="name" type="text" placeholder="Nome de Utilizador"/>
					</div>
					
					<div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px margin-top-line-white"></div>
					<input class="center-block inputsCenter inputDetails" ng-model="username" type="text" placeholder="Username"/>
					<br>
					<div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px margin-top-line-white"></div>
					<input class="center-block inputsCenter inputDetails" ng-model="email" type="email" placeholder="E-mail"/>
					<br>
					<div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px margin-top-line-white"></div>
					<!-- edit mode -->
					<input class="center-block inputsCenter inputDetails" ng-model="birthdateValue" type="date" placeholder="DD-MM-AAAA" style="margin-left: 106px;"/>
					<br>
					<div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px margin-top-line-white"></div>
					<input class="center-block inputsCenter inputDetails" ng-model="password" type="password" placeholder="Password"/>
					<br>
					<button class="center-block inputsCenter buttonBorder margin-top margin-bottom margin-left" ng-click="insertUser(name, username, email, birthdateValue, password)">Salvar</button>
				</div>
				<div ng-if="emptyData">
					<h3>Preencha todos os campos por favor.</h3>
				</div>
				<div ng-if="usernameRepeated">
					<h3>Nome já existente.</h3>
				</div>
				<div ng-if="underAge">
					<h3>Para efetuar o registo tem de ser maior de idade.</h3>
				</div>
			</div>
		</div>
	</body>
</html>



