<html>
    <head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- font awesome styles -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<!-- -->
		<!--<script>$.ajaxPrefilter(function( options, originalOptions, jqXHR ) { options.async = true; });</script>-->

		<!-- angular files -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		
		<!-- bootstrap styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
        <script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>
        <script type="text/javascript" src="../controllers/qrCode-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<script type="text/javascript" src="../controllers/login-controller.js"></script>
		<script type="text/javascript" src="../controllers/resultsMaterials-controller.js"></script>
		 
		<base href="/"/>
	</head>
    <body ng-app="myApp" ng-controller="MyQuestionsController">
         <!--image biama -->
        <div class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <!-- content of my questions page -->
        <div class="titlesOnCenter">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
            <i class="cursorPointer float-left fa fa-chevron-left arrows margin-right-2x backArrow" ng-click="goToHomePage()"></i>
            <!-- title -->
            <div class="padding-left-4x">
                <h1 ng-if="!showMyQuestions" class="subtitles">As minhas perguntas</h1> 
            </div>
            <!-- loading spinner -->
            <div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>
            <!-- show number of questions -->
            <div ng-if="!showMyQuestions" class="titlesOnCenter" ng-repeat="question in myQuestionDetails track by $index">
                <a class="questionX" ng-click="getQuestion(question.id_question, $index)">Pergunta [{$index+1}]</a><br>
                <div class="separateQuestions"></div>
            </div>
            <!-- if click on question, show details of question -->
            <div ng-if="showMyQuestions">
                <div class="titlesOnCenter"> 
                    <h1 class="subtitles">Pergunta [{indexQuestion}]</h1>
                </div>
                <div class="titlesOnCenter">
                    <div ng-if="!showDivAnswer" class="margin-left-10x">
                        <!-- Question -->
                        <img class="imageButton" src="../images/user.png">
                        <div class="borderQuestion">
                            <label class="margin-right-6x">Pergunta [{indexQuestion}]</label>
                            <div ng-if="!clickAddFavorite" ng-click="addToFavoritesQuestion()">
                                <i class="far fa-star favoriteButton cursorPointer"></i>
                            </div>
                            <div ng-if="clickAddFavorite" ng-click="removeFromFavoritesQuestion()">
                                <i class="fas fa-star favoriteButton cursorPointer"></i>
                            </div>
                            <div ng-if="likeQuestion>0" ng-click="addLikeQuestion()">
                                <i class="fas fa-thumbs-up likeButton cursorPointer"></i>
                            </div>
                            <div ng-if="likeQuestion==0" ng-click="removeLikeQuestion()">
                                <i class="far fa-thumbs-up likeButton cursorPointer" ></i>
                            </div>
                            <h5 class="descriptionQuestion">[{descriptionQuestion}]</h5>
                        </div>
                        <!-- Answers -->
                        <div ng-repeat="answerQuestion in descriptionAnswer track by $index" ng-if="descriptionAnswer.length>0">
                            <img ng-if="$index%2!==0" class="imageButton" src="../images/user.png">
                            <div ng-if="$index%2!==0" class="borderQuestion">
                                <label class="margin-right-6x">Resposta [{answerQuestion.numberOfQuestion}]</label>
                                <div ng-if="favoriteAnswer" ng-click="removeFromFavoritesQuestion()">
                                    <i class="fas fa-star favoriteButton cursorPointer"></i>
                                </div>
                                <div ng-if="!favoriteAnswer" ng-click="addToFavoritesQuestion()">
                                    <i class="far fa-star favoriteButton cursorPointer"></i>
                                </div>
                                <div ng-if="answerQuestion.likes!==0" ng-click="addLikeQuestion()">
                                    <i class="fas fa-thumbs-up likeButton cursorPointer"></i>
                                </div>
                                <div ng-if="answerQuestion.likes===0" ng-click="removeLikeQuestion()">
                                    <i class="far fa-thumbs-up likeButton cursorPointer"></i>
                                </div>
                                <h5 class="descriptionQuestion">[{answerQuestion.text}]</h5>
                            </div>
                            <div ng-if="$index%2===0"  class="borderAnswer">
                                <div ng-if="favoriteAnswer" ng-click="removeFromFavoritesQuestion()">
                                    <i class="fas fa-star favoriteButtonLeft cursorPointer"></i>
                                </div>
                                <div ng-if="!favoriteAnswer" ng-click="addToFavoritesQuestion()">
                                    <i class="far fa-star favoriteButtonLeft cursorPointer"></i>
                                </div>
                                <div ng-if="answerQuestion.likes!==0" ng-click="addLikeQuestion()">
                                    <i class="fas fa-thumbs-up likeButtonLeft cursorPointer"></i>
                                </div>
                                <div ng-if="answerQuestion.likes===0" ng-click="removeLikeQuestion()">
                                    <i class="far fa-thumbs-up likeButtonLeft cursorPointer"></i>
                                </div>
                                <label class="margin-left-7x">Resposta [{answerQuestion.numberOfQuestion}]</label>
                                <img class="imageButtonLeft" src="../images/user.png">
                                <h5 class="descriptionAnswer">[{answerQuestion.text}]</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button to response of questions -->
                <div> 
					<button ng-if="!showDivAnswer" class="buttonConfirm" ng-click="clickOnAnswer()">Responder</button>
					<div ng-if="showDivAnswer" class="titlesOnCenter answerDiv">
						<textarea class="textAreaAnswerDiv"  ng-model="textAnswer" placeholder="..."></textarea><br>
						<button class="buttonConfirm" ng-click="putAnswer(textAnswer)">Responder</button>
					</div>
				</div>
            </div>
        </div>
    </body>
</html>



