<html>
    <body ng-app="myApp" ng-controller="NotificationsController">
         <!--image biama -->
        <div class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div style="text-align:center;">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
            <div class="padding-left-4x">
                <h1 style="font-weight: normal;color: #5F9EA0;font:bold">A minha partilha 1</h1> 
            </div>
        </div>
    </body>
</html>



