<!DOCTYPE html>
<html ng-app="myApp">
    <body>
        <div ng-controller="PerfilController">
            <!--image biama -->
            <div class="row text-center">
                <img class="margin-top-3x" src="../images/topoBiama.png"/>
            </div>
            <div class="imageRight">
                <img src="../images/rightBiama.png"/>
            </div>
            <div style="text-align:center;"> 
                <div class="imageLeft">
                    <img class="margin-top-3x" src="../images/leftBiama.png"/>
                </div>
			    <h1 style="font-weight: normal;color: #5F9EA0;font:bold">O meu perfil</h1>
		    </div>

            <div>
                
                <br>
                <div class="perfilDetails">
                
                    <i class="fas fa-user"></i>
                  
                    <h4 class="minTitleBiAMa">Nome de Utilizador</h4><br>

                    <input class="inputsCenter" type="text" placeholder="Username" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="E-mail" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="DD-MM-AAAA" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="Password" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <button class="inputsCenter buttonBorder margin-top margin-bottom" ng-click="clickUserDetails()">Alterar dados</button>	
                </div>
            </div>
        </div>
        <footer class="w3-bar w3-center footer">
			<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
			<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

			<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
			<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

			<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
			<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

			<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
			<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

			<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
			<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
		</footer>
    </body>
</html>