<!DOCTYPE html>
<html ng-app="myApp">
    <body>
        <div ng-controller="PerfilController">
             <!-- header -->
        <div ng-if="isMobileView" class="container-fluid">
            <div class="header">
                <div class="col-sm-4" style="margin-top: 12px;margin-bottom: 30px;">
                    <img ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()" style="margin-top: -16px;margin-left: -234px;">
                </div>
                <div ng-if="!showSearch" class="col-sm-6" style="margin-top: -83px;">
                    <h2 class="subtitles" style="font-size: 16px;">O meu perfil</h2>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1" style="margin-top: -41px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-2" style="margin-top: -55px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div class="col-sm-1">
                    <input class="inputMinSearch" ng-if="showSearch && !userDetails" type="text" style="    width: 201px;margin-top: 2px;margin-left: 74px;"></input>
                </div>
            </div>
        </div> 
            <!--image biama -->
            <div  ng-if="!isMobileView" class="row text-center">
                <img class="margin-top-3x" src="../images/topoBiama.png"/>
            </div>
            <div  ng-if="!isMobileView" class="imageRight">
                <img src="../images/rightBiama.png"/>
            </div>
            <div ng-if="!isMobileView" class="titlesOnCenter"> 
                <div class="imageLeft">
                    <img class="margin-top-3x" src="../images/leftBiama.png"/>
                </div>
			    <h1 class="subtitles">O meu perfil</h1>
		    </div>
            <div>
                <br>
                <div ng-if="!openImageUploadLabel" class="perfilDetails">
                    <!-- user photo -->
                    <div>
                        <img ng-show="!upgradeInformations" src="../images/users/[{imageUser}]" class="w3-circle imageRotation imagePerfil" readonly >
                        <img ng-show="upgradeInformations" src="../images/users/[{imageUser}]" class="w3-circle imageRotation imagePerfil cursorPointer" ng-click="openImageUpload()">
                        <label class="minTitleBiAMa labelPerfilName">[{name}]</label>
                    </div>
                    <br><br><br><br>

                    <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="username" type="text" placeholder="Username" readonly/>
                    <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="username" type="text" placeholder="Username"/>
                    <br>

                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                    <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="email" type="email" placeholder="E-mail" readonly/>
                    <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="email" type="email" placeholder="E-mail"/>
                    <br>

                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                    <!-- edit mode -->
                    <input ng-show="upgradeDate" class="inputsCenter inputDetails margin-left-3x1" ng-model="birthdateValue" type="date" placeholder="DD-MM-AAAA"/>
                    <!-- -->
                    <input ng-show="editDate" class="inputsCenter inputDetails margin-left-3x1" ng-model="birthdateValue" type="date" placeholder="DD-MM-AAAA"/>
                    <!-- Info of service -->
                    <h6 ng-show="!editDate">[{birthdateValue}]</h6>

                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                    <input ng-show="!upgradeInformations" class="inputsCenter inputDetails" ng-model="password" type="password" placeholder="Password" readonly/>
                    <input ng-show="upgradeInformations" class="inputsCenter inputDetails" ng-model="password" type="password" placeholder="Password"/>
                    <br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>
                    
                    <button class="inputsCenter buttonBorder margin-top margin-bottom margin-left" ng-click="clickUserDetails()">Alterar dados</button>
                    <button class="inputsCenter buttonBorder margin-top margin-bottom margin-left" ng-click="doneUpgrade(username, email, birthdateValue, password, imageUser)">Salvar</button>		
                    <h5 ng-if="fieldsEmpty">Campos inválidos.</h5>
                    <h5 ng-if="!fieldsEmpty && invalidEmail">Email inválido.</h5>
                    <h5 ng-if="invalidDate">Data de nascimento inválida.</h5>
                    <h5 ng-if="usernameRepeatedPerfil">Nome já existente.</h5>
                    <h5 ng-if="underAgePerfil">Para efetuar o registo tem de ser maior de idade.</h5>
                </div>
                 <div class="perfilDetails" ng-if="openImageUploadLabel">
                    <input type="file" id="uploadPicture" class="buttonEditPerfilPhoto cursorPointer" value="Escolha uma foto">
                    <button ng-click="saveUploadFile()">Guardar</button>
                </div>
            </div>
        </div>
        <footer ng-if="!isMobileView" class="w3-bar w3-center footer">
			<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
			<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

			<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
			<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

			<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
			<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

			<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
			<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

			<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
			<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
		</footer>
    </body>
</html>