<!DOCTYPE html>
<html ng-app="myApp">
    <body>
        <div ng-controller="PerfilController">
            <div style="text-align:center;"> 
			    <h1 style="font-weight: normal;color: #5F9EA0;font:bold">O meu perfil</h1>
		    </div>

            <div>
                
                <br>
                <div class="perfilDetails">
                
                    <i class="fas fa-user"></i>
                  
                    <h4 class="minTitleBiAMa">Nome de Utilizador</h4><br>

                    <input class="inputsCenter" type="text" placeholder="Username" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="E-mail" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="DD-MM-AAAA" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <input class="inputsCenter" type="text" placeholder="Password" style="border:none; background: transparent; outline: 0;"/><br>
                    <div class="lineWhite margin-bottom margin-top margin-right-50px margin-left-50px"></div>

                    <button class="inputsCenter buttonBorder margin-top margin-bottom" ng-click="clickUserDetails()">Alterar dados</button>	
                </div>
            </div>
        </div>
    </body>
</html>