<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
        <script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<script type="text/javascript" src="../controllers/login-controller.js"></script>
		<script type="text/javascript" src="../controllers/resultsMaterials-controller.js"></script>
		 
		<base href="/"/>
	</head>
	<body ng-app="myApp" ng-controller="QuestionsUsersForumController">
		<!-- header -->
        <div class="container-fluid">
            <div class="header margin-top-3x">
                <div class="margin-left-4x  col-sm-3">
                    <img ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()">
                </div>
                <div ng-if="!showSearch" class="col-sm-6">
                    <h2 class="subtitles">Perguntas dos Utilizadores</h2>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-2">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                </div>
                <div class="col-sm-4">
                    <input id="miniSearch" class="inputMinSearch sizeOfInputMinMobile" ng-if="showSearch && !userDetails" type="text"></input>
					<button class="buttonOk" ng-if="showSearch && !userDetails" ng-click="initMiniSearch()">Ok</button>
                </div>
            </div>
        </div> 
		<div ng-if="loading">
			<div class="loading-icon-footer-info"></div>
		</div>
		<div ng-if="!loading && !showQuestionDetails && showAllQuestions" class="titlesOnCenter" ng-repeat="question in questions track by $index">
			<a class="questionX" ng-click="getQuestion(question.id_question, $index)" style="font-size: 33px;">Pergunta [{$index+1}]</a><br>
			<div class="separateQuestions"></div>
		</div>
		<div ng-if="showQuestionDetails" style="margin-top: 109px;">
			<div class="titlesOnCenter"> 
				<h1 class="subtitles">Pergunta [{indexQuestion}]</h1>
			</div>
			<div class="titlesOnCenter" style="margin-left:161px;">
				<div ng-if="!showDivAnswer" ng-style="(isMobileView) ? 'margin-left: 20px;' : 'margin-left:400px'">
					<!-- Question -->
					<img class="imageButtonMobile" src="../images/user.png" style="width:130px">
					
					<div class="borderQuestionMobile">
						<label class="margin-right-8x" style="font-size:28px">Pergunta [{indexQuestion}]</label>
						<div ng-if="!clickAddFavorite" ng-click="addToFavoritesQuestion()" style="margin-top:-40px">
							<i class="far fa-star favoriteButton cursorPointer" style="font-size:32px"></i>
						</div>
						<div ng-if="clickAddFavorite" ng-click="removeFromFavoritesQuestion()" style="margin-top:-40px">
							<i class="fas fa-star favoriteButton cursorPointer" style="font-size:32px"></i>
						</div>
						<div ng-if="likeQuestion>0" ng-click="addLikeQuestion()">
							<i class="fas fa-thumbs-up likeButton cursorPointer" style="font-size:32px"></i>
						</div>
						<div ng-if="likeQuestion==0" ng-click="removeLikeQuestion()">
							<i class="far fa-thumbs-up likeButton cursorPointer" style="font-size:32px"></i>
						</div>
						<h5 class="descriptionQuestion" style="margin-top:41px; font-size:28px">[{descriptionQuestion}]</h5>
					</div>
					<!-- Answers -->
					<div ng-repeat="answerQuestion in descriptionAnswer track by $index" ng-if="descriptionAnswer.length>0">
						<img ng-if="$index%2!==0 && isMobileView" class="imageButtonMobile" src="../images/user.png" style="width:130px">
						<div ng-if="$index%2!==0" class="borderQuestionMobile">
							<label class="margin-right-8x" style="font-size:28px">Resposta [{answerQuestion.numberOfQuestion}]</label>
							<div ng-if="favoriteAnswer" ng-click="removeFromFavoritesQuestion()" style="margin-top:-40px">
								<i class="fas fa-star favoriteButton cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="!favoriteAnswer" ng-click="addToFavoritesQuestion()" style="margin-top:-40px">
								<i class="far fa-star favoriteButton cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="answerQuestion.likes!==0" ng-click="addLikeQuestion()">
								<i class="fas fa-thumbs-up likeButton cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="answerQuestion.likes===0" ng-click="removeLikeQuestion()">
								<i class="far fa-thumbs-up likeButton cursorPointer" style="font-size:32px"></i>
							</div>
							<h5 class="descriptionQuestion" style="margin-top:41px;font-size:28px">[{answerQuestion.text}]</h5>
						</div>
						<div ng-if="$index%2===0"  class="borderAnswerMobile">
							<div ng-if="favoriteAnswer" ng-click="removeFromFavoritesQuestion()">
								<i class="fas fa-star favoriteButtonLeft cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="!favoriteAnswer" ng-click="addToFavoritesQuestion()">
								<i class="far fa-star favoriteButtonLeft cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="answerQuestion.likes!==0" ng-click="addLikeQuestion()">
								<i class="fas fa-thumbs-up likeButtonLeft cursorPointer" style="font-size:32px"></i>
							</div>
							<div ng-if="answerQuestion.likes===0" ng-click="removeLikeQuestion()">
								<i class="far fa-thumbs-up likeButtonLeft cursorPointer" style="font-size:32px"></i>
							</div>
							<label class="margin-left-9x1" style="font-size:28px">Resposta [{answerQuestion.numberOfQuestion}]</label>
							<img class="imageButtonLeft" src="../images/user.png" style="width:120px">
							<h5 class="descriptionAnswer"  style="font-size:28px">[{answerQuestion.text}]</h5>
						</div>
					</div>
				</div>
				<div>
					<button ng-if="!showDivAnswer" class="buttonAnswerMobile" ng-click="clickOnAnswer()" style="margin-left:353px">Responder</button>
					<div ng-if="showDivAnswer" class="titlesOnCenter" style="padding-top: 39px; background-color: lightgray;margin-right:147px">
						<textarea class="textAreaAnswerDiv"  ng-model="textAnswer" placeholder="..." style="font-size: 32px;"></textarea><br>
						<button class="buttonAnswerMobile" ng-click="putAnswer(textAnswer)">Responder</button>
					</div>
				</div>
				<div class="margin-top-3x" ng-if="clickAddFavorite || clickRemoveFavorite">
					<h4>Para poder adicionar ou remover dos seus favoritos, tem de iniciar sessão</h4>
				</div>
				<div ng-if="clickAddLike || clickRemoveLike">
					<h4>Para poder adicionar ou remover gosto, tem de iniciar sessão</h4>
				</div>
			</div>
		</div>
		<i ng-if="miniSearchResults" ng-click="closeMiniSearch()" class="margin-top-4x fas fa-times cursorPointer float-right iconMedium"></i>
		<div ng-if="miniSearchResults" class="margin-top-5x">
			<div class="col-md-4" ng-repeat="material in resultSearch track by $index">
				<div class="thumbnail">
					<img class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-click="openMaterial(material)" ng-src="../images/categories/miniSearch/[{material.name}]" width="35%" height="150px" alt="foto"/>
				</div>
			</div>
		</div>
		<div ng-if="showDetailsOfMaterial" class="col-sm-4 col-sm-offset-2" >
			<div class="row container">
				<i ng-click="closeMaterial()" class="fas fa-times cursorPointer float-right iconMedium"></i>
				<div class="col-md-5 order-md-1" ng-if="!showCategoryMaterial && !showProjectMaterial" style="margin-top: 82px;">
					<img class="center-block borderZoomMaterial" ng-src="../images/categories/[{openedMaterial.category}]/[{openedMaterial.name}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class="col-md-5 order-md-1" ng-if="showCategoryMaterial && !showProjectMaterial" style="margin-top: 82px;">
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/library/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class="col-md-5 order-md-1" ng-if="showProjectMaterial" style="margin-top: 82px;">
					<img class="center-block margin-top-6x borderZoomMaterial" ng-src="../images/categories/projectMaterials/[{openedMaterial}]" width="55%" height="260px" alt="foto"/>
				</div>
				<div class="col-md-2 order-md-1 mb-2 detailsMaterialSearch">
					<h4 class="margin-right-5x margin-top-6x" style="font-size: 32px;">Category</h4>
					<h5 class="margin-right-5x" style="font-size: 26px;">[{openedMaterial.category}]</h5>
					<h4 class="margin-right-5x" style="font-size: 32px;">Code</h4>
					<h5 class="margin-right-5x" style="font-size: 26px;">[{openedMaterial.code}]</h5>
					<h4 class="margin-right-5x" style="font-size: 32px;">Description</h4>
					<h5 class="margin-right-5x" style="font-size: 26px;">[{openedMaterial.description}]</h5>
				</div>
			</div>
		</div>
	</body>
</html>



