<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body style="font-family: sans-serif;">
	<div> 
		<div> 
			<div style="text-align:center;"> 
				<h1 style="font-weight: normal;color: #5F9EA0;font:bold">Resultados da pesquisa</h1>
			</div>
		</div>
	</div>
</body>
</html>