<html>
    <body ng-app="myApp" ng-controller="SearchController">
        <!--image biama -->
        <div class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div style="text-align:center;">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
           <div class="padding-left-4x">
                <div>
                    <h1 style="font-weight: normal;color: #5F9EA0;font:bold">Resultados da Pesquisa</h1>  
                </div>
                <div ng-repeat="material in imageMaterials">
                    <img src="[{material.imgPath}]" width="10%" height="10%">
                    <h5>Description: [{material.desc}]</h5>
                </div>
            </div>
        </div>
    </body>
</html>



