<html>
    <body  ng-app="myApp" ng-controller="WorldShareController">
           <!-- header -->
        <div ng-if="isMobileView" class="container-fluid">
            <div class="header">
                <div class="col-sm-4" style="margin-top: 12px;margin-bottom: 30px;">
                    <img ng-if="!userDetails" src="../images/user.png" alt="img" ng-click="clickUserDetails()" style="margin-top: -16px;margin-left: -234px;">
                </div>
                <div ng-if="!showSearch" class="col-sm-6" style="margin-top: -83px;">
                    <h2 class="subtitles" style="font-size: 16px;">Partilhar com o Mundo</h2>
                </div>
                <div ng-if="!showSearch" class="margin-top-2x col-sm-1" style="margin-top: -41px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div ng-if="showSearch" class="margin-top col-sm-2" style="margin-top: -55px;">
                    <img class="float-right" ng-if="!showSearch && !userDetails" ng-click="clickTopSearch()" src="../images/search.png">
                    <img class="float-right" ng-if="showSearch  && !userDetails" ng-click="clickTopSearch()" src="../images/search.png" style=" margin-top: -18px;">
                </div>
                <div class="col-sm-1">
                    <input class="inputMinSearch" ng-if="showSearch && !userDetails" type="text" style="    width: 201px;margin-top: 2px;margin-left: 74px;"></input>
                </div>
            </div>
        </div> 
         <!--image biama -->
        <div  ng-if="!isMobileView" class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div  ng-if="!isMobileView" class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div class="titlesOnCenter">
            <div ng-if="!isMobileView" class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
            <div ng-if="!isMobileView" class="padding-left-4x">
                <h1 ng-if="showWorldShares" class="subtitles">Partilhar com o Mundo</h1> 
            </div>
            <div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>
            <div ng-if="showWorldShares" class="titlesOnCenter sectionScroll">
                <img ng-repeat="image in worldShareItems track by $index" class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-src="../images/worldSharesForum/[{image}]" ng-click="openDetailsWorldShare(image)" width="35%" height="150px" alt="foto"/>
                <br>
                <i ng-if="!loading" class="fas fa-plus-circle cursorPointer" style="font-size: 77px;" ng-click="openAddWorldShare()"></i>
            </div>
            <div ng-if="addWorldShare && !loading" class="container center-block" ng-style="(!isMobileView)? 'background-color:#E4A73F; width:600px; height:400px; border-radius:2px;':'background-color:#E4A73F; width:349px; height:400px; border-radius:2px;'">
                <div style="background-color:white;padding:10px;margin-top: 10px;height: 378px;margin-left: 6px;margin-right: 6px;">
                    <h1>Nome do Projeto</h1>
                    <div class="divider"></div>
                    <textarea ng-if="isMobileView" placeholder="Descrição..." ng-model="descriptionWorldShare" style="width: 248px;height: 101px;"></textarea>
                    <textarea ng-if="!isMobileView" placeholder="Descrição..." ng-model="descriptionWorldShare" style="width: 422px;height: 101px;"></textarea>
                    <div style="display: inline-flex;margin-left: 21px;margin-top: 20px;">
                        <div ng-if="!openWorldShareUploadLabel">
                            <img src="../images/worldSharesForum/[{imageWorldShare}]" style="border-style: dotted;width: 117px;height: 68px;">
                        </div>
                        <i class="fas fa-plus-circle cursorPointer" style="font-size: 30px;border-style: dotted;width: 117px;height: 68px;padding: 13px;" ng-click="openWorldShareUpload()"></i>
                        <br>
                        <div class="perfilDetails" ng-if="openWorldShareUploadLabel">
                            <input type="file" id="uploadPictureWorldShare" class="buttonEditPerfilPhoto cursorPointer" value="Escolha uma foto">
                            <button ng-click="saveUploadFile()">Guardar</button>
                        </div>
                    </div>
                    <br>
                    <button class="buttonConfirm" ng-click="saveConfigInsertWorldShare(imageWorldShare, descriptionWorldShare)">Confimar</button>
                    <button ng-click="cancelInsertWorldShare()">Cancelar</button>
                </div>
            </div>
            <div ng-if="showWorldSharesDetails && !addWorldShare" class="sectionDetails">
                <h1 class="subtitles titlesOnCenter">Partilha [{worldSharesInfo.share}]</h1>
                <p>[{worldSharesInfo.description}]</p>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter cursorPointer" ng-src="../images/worldSharesForum/[{worldSharesInfo.image}]"  ng-click="openBigImage(worldSharesInfo.image)"  alt="foto"/><br>
            </div>
            <div ng-if="showBigImage && !addWorldShare">
                <button type="button" class="close" aria-label="Close" ng-click="closeWorldShareImage()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter" ng-src="../images/worldSharesForum/[{bigImage}]"  width="40%" height="40%" alt="foto"/><br>
            </div>
        </div>
        <footer ng-if="!isMobileView" class="w3-bar w3-center footer">
			<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
			<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

			<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
			<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

			<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
			<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

			<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
			<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

			<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
			<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
		</footer>
    </body>
</html>

