<html>
     <head>
		<link rel='stylesheet' href='/stylesheets/styleBiama.css' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<!-- font awesome styles -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<!-- jQuery files -->
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<!-- -->
		<!--<script>$.ajaxPrefilter(function( options, originalOptions, jqXHR ) { options.async = true; });</script>-->

		<!-- angular files -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
		
		<!-- bootstrap styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

		<!--footer controllers-->
		<script type="text/javascript" src="../controllers/main-controller.js"></script>
		<script type="text/javascript" src="../controllers/biama-controller.js"></script>
		<script type="text/javascript" src="../controllers/whereWeAre-controller.js"></script>
		<script type="text/javascript" src="../controllers/forum-controller.js"></script>
        <script type="text/javascript" src="../controllers/curiosityForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/questionsUsersForum-controller.js"></script>
        <script type="text/javascript" src="../controllers/worldShareForum-controller.js"></script>
		<script type="text/javascript" src="../controllers/library-controller.js"></script>
		<script type="text/javascript" src="../controllers/myBiama-controller.js"></script>

		<!--details user controllers-->
		<script type="text/javascript" src="../controllers/perfil-controller.js"></script>
		<script type="text/javascript" src="../controllers/favorites-controller.js"></script>
		<script type="text/javascript" src="../controllers/notifications-controller.js"></script>
		<script type="text/javascript" src="../controllers/questions-controller.js"></script>
		<script type="text/javascript" src="../controllers/worldShares-controller.js"></script>
		<script type="text/javascript" src="../controllers/compare-controller.js"></script>
		<script type="text/javascript" src="../controllers/login-controller.js"></script>
		<script type="text/javascript" src="../controllers/resultsMaterials-controller.js"></script>
		 
		<base href="/"/>
	</head>
    <body  ng-app="myApp" ng-controller="WorldShareController">
        <!--image biama -->
        <div class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div class="titlesOnCenter">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
            <i class="cursorPointer float-left fa fa-chevron-left arrows margin-right-2x backArrow" ng-click="goToHomePage()"></i>
            <div class="padding-left-4x">
                <h1 ng-if="showWorldShares" class="subtitles">Partilhar com o Mundo</h1> 
            </div>
            <div ng-if="loading">
				<div class="loading-icon-footer-info"></div>
			</div>
            <div ng-if="showWorldShares" class="titlesOnCenter sectionScroll">
                <img ng-repeat="image in worldShareItems track by $index" class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-src="../images/worldSharesForum/[{image}]" ng-click="openDetailsWorldShare(image)" width="35%" height="150px" alt="foto"/>
                <br>
                <i ng-if="!loading" class="fas fa-plus-circle cursorPointer" style="font-size: 77px;" ng-click="openAddWorldShare()"></i>
            </div>
            <div ng-if="addWorldShare && !loading" class="container center-block" ng-style="(!isMobileView)? 'background-color:#E4A73F; width:600px; height:400px; border-radius:2px;':'background-color:#E4A73F; width:349px; height:400px; border-radius:2px;'">
                <div style="background-color:white;padding:10px;margin-top: 10px;height: 378px;margin-left: 6px;margin-right: 6px;">
                    <h1>Nome do Projeto</h1>
                    <div class="divider"></div>
                    <textarea placeholder="Descrição..." ng-model="descriptionWorldShare" style="width: 256px;height: 101px;"></textarea><br>
                    <div style="display: inline-flex;margin-left: 21px;margin-top: 20px;">
                        <i ng-if="!savePhoto" class="fas fa-plus-circle cursorPointer" style="font-size: 30px;border-style: dotted;width: 117px;height: 68px;padding: 13px;" ng-click="openWorldShareUpload()"></i>
                        <div ng-if="savePhoto">
                            <img src="../images/worldSharesForum/[{imageWorldShare}]" style="border-style: dotted;width: 117px;height: 68px;">
                        </div>
                        <br>
                        <div ng-if="openWorldShareUploadLabel">
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" id="uploadPictureWorldShare" file-model="valueInput" class="buttonEditPerfilPhoto cursorPointer" value="Escolha uma foto">
                                <input type="submit" name="submit" value="submit" ng-click="postUpload(valueInput)">
                            </form>
                            <button ng-click="saveUploadFile()">Guardar</button>
                        </div>
                    </div>
                    <br>
                    <button class="buttonConfirm" ng-click="saveConfigInsertWorldShare(imageWorldShare, descriptionWorldShare)">Confimar</button>
                    <button ng-click="cancelInsertWorldShare()">Cancelar</button>
                </div>
            </div>
            <div ng-if="showWorldSharesDetails && !addWorldShare" class="sectionDetails">
                <h1 class="subtitles titlesOnCenter">Partilha [{worldSharesInfo.share}]</h1>
                <p>[{worldSharesInfo.description}]</p>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter cursorPointer" ng-src="../images/worldSharesForum/[{worldSharesInfo.image}]"  ng-click="openBigImage(worldSharesInfo.image)"  alt="foto"/><br>
            </div>
            <div ng-if="showBigImage && !addWorldShare">
                <button type="button" class="close" aria-label="Close" ng-click="closeWorldShareImage()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter" ng-src="../images/worldSharesForum/[{bigImage}]"  width="40%" height="40%" alt="foto"/><br>
            </div>
        </div>
    </body>
</html>

