<html>
    <body  ng-app="myApp" ng-controller="WorldShareController">
         <!--image biama -->
        <div class="row text-center">
            <img class="margin-top-3x" src="../images/topoBiama.png"/>
        </div>
        <div class="imageRight">
            <img src="../images/rightBiama.png"/>
        </div>
        <div class="titlesOnCenter">
            <div class="imageLeft">
                <img class="margin-top-3x" src="../images/leftBiama.png"/>
            </div>
            <div class="padding-left-4x">
                <h1 ng-if="showWorldShares" class="subtitles">Partilhar com o Mundo</h1> 
            </div>
            <div ng-if="showWorldShares" class="titlesOnCenter sectionScroll">
                <img ng-repeat="image in worldShareItems track by $index" class="margin-bottom-2x cursorPointer margin-left-2x cursorPointer" ng-src="../images/worldSharesForum/[{image}]" ng-click="openDetailsWorldShare(image)" width="35%" height="150px" alt="foto"/>
                <i ng-if="$index===worldShareItems.length-1" class="fas fa-plus-circle" ng-click="openAddWorldShare()"></i>
            </div>
            <div ng-if="addWorldShare">
                
            </div>
            <div ng-if="showWorldSharesDetails && !addWorldShare" class="sectionDetails">
                <h1 class="subtitles titlesOnCenter">Partilha [{worldSharesInfo.share}]</h1>
                <p>[{worldSharesInfo.description}]</p>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter cursorPointer" ng-src="../images/worldSharesForum/[{worldSharesInfo.image}]"  ng-click="openBigImage(worldSharesInfo.image)"  alt="foto"/><br>
            </div>
            <div ng-if="showBigImage && !addWorldShare">
                <button type="button" class="close" aria-label="Close" ng-click="closeWorldShareImage()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="margin-bottom-2x margin-left-2x borderZoomMaterial imageOnCenter" ng-src="../images/worldSharesForum/[{bigImage}]"  width="40%" height="40%" alt="foto"/><br>
            </div>
        </div>
        <footer class="w3-bar w3-center footer">
			<a href="/BiAMa/biamaPage" ng-if="nameclick !== 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: #E4A73F; text-decoration:none" class="buttonNotSelected buttonAlignment w3-mobile">BiAMa</a>
			<a href="/BiAMa/biamaPage" ng-if="nameclick === 'biamaPage'" ng-click="changeColorClick('biamaPage')" style="width:20%;color: white; text-decoration:none" class="buttonSelected buttonAlignment w3-mobile">BiAMa</a>

			<a href="/BiAMa/whereWeAre" ng-if="nameclick !== 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Onde Estamos</a>
			<a href="/BiAMa/whereWeAre" ng-if="nameclick === 'whereWeAre'" ng-click="changeColorClick('whereWeAre')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Onde Estamos</a>

			<a href="/BiAMa/library" ng-if="nameclick !== 'library'" ng-click="changeColorClick('library')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Biblioteca</a>
			<a href="/BiAMa/library" ng-if="nameclick === 'library'" ng-click="changeColorClick('library')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Biblioteca</a>

			<a href="/BiAMa/myBiama" ng-if="nameclick !== 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: #E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">A sua BiAMa</a>
			<a href="/BiAMa/myBiama" ng-if="nameclick === 'myBiama'" ng-click="changeColorClick('myBiama')" style="width:20%;color: white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">A sua BiAMa</a>

			<a href="/BiAMa/forum" ng-if="nameclick !== 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:#E4A73F; text-decoration:none" class="w3-bar-item buttonNotSelected w3-mobile">Fórum</a>
			<a href="/BiAMa/forum" ng-if="nameclick === 'forum'" ng-click="changeColorClick('forum')" style="width:20%; color:white; text-decoration:none" class="w3-bar-item buttonSelected w3-mobile">Fórum</a>
		</footer>
    </body>
</html>

