<html>
	<body ng-app="myApp" ng-controller="YourBiamaController">
		<!--image biama -->
		<div class="row text-center">
			<img class="margin-top-3x" src="../images/topoBiama.png"/>
		</div>
		<div class="imageRight">
			<img src="../images/rightBiama.png"/>
		</div>
		<div style="text-align:center;"> 
			<div class="imageLeft">
				<img class="margin-top-3x" src="../images/leftBiama.png"/>
			</div>
			<h1 style="font-weight: normal;color: #5F9EA0;font:bold">A sua BiAMa</h1>
			<img src="../images/suaBiAMa.JPG"/>

			<div style="width:30%;max-width: 800px;margin: 0 auto; text-align: justify;">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
			<div>
				<div>
					<i class="far fa-file-pdf"></i>
					<label class="margin-right-3x">Formulário para Aderir</label>

					<i class="far fa-file-pdf"></i>
					<label>Construir a sua BiAMa</label>
				</div>
			</div>
		</div>
	</body>
</html>



